:root {
  --background-color: #f3f3f3;
  --primary-color: #eb6e34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom */

.container {
  padding: 50px 0;
}

.main-btn {
  padding: 10px 0;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  color: white;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
}

.transparent-btn {
  padding: 10px 0;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  color: #616161;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}
